<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration 
    SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- datasource -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/expensereimbersement</property>
        <property name="connection.user">root</property>
        <property name="connection.password">root</property>

        <!-- query translation (dialect)-->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- connection pool-->
        <property name="connection.pool_size">20</property>
        <property name="show_sql">true</property>

        <!-- entity mapping-->
        <mapping class="com.skillstorm.ZachKelley.Beans.ExpenseTicket"/>
        <mapping class="com.skillstorm.ZachKelley.Beans.Expense"/>
        <mapping class="com.skillstorm.ZachKelley.Beans.Status"/>
    </session-factory>
</hibernate-configuration>